/* ------------------------------------------------------------------ */
/* SECTION - ABOUT
/* ------------------------------------------------------------------ */
/* Profile Image
/* Introduction Paragraph
/* Contact Details
/* Downloadable Resume
/* ------------------------------------------------------------------ */



#about {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  background-image: url('../images/cave-background.png');
  margin-top: -1px;
  padding-top: 96px;
  padding-bottom: 66px;
  background-size: cover;
  background-repeat: no-repeat;
  img {
    width: 200px;
    border-radius: 50%;
  }
  h2 {
    color: $macaroni;
  }
  p {
    color: $white;
  }
  .contact-info {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    text-align: center;
    i {
      font-size: 32px;
      color: $cambridge;
    }
    a {
      text-shadow: 0 1px 3px rgba($gunmetal, .8);
      text-decoration: none;
      &:hover i {
        color: $macaroni;
      }
    }

    li {
      width: 33%;
    }

    @include bp(md) {
      justify-content: space-between;
      li {
        width: auto;
      }
    }
  }

  .contact-details {
    justify-content: center;
    align-items: center;
    position: relative;
    display: flex;
    width: 100%;
    @include bp(md) {
      margin: 0 auto;
      width: 50%;
    }
  }

  .cave-fox {
    position: absolute;
    border-radius: 0;
    bottom: -9rem;
    left: 50%;
  }



  @include bp(sm) {
    //background: $cambridge;
  }
  @include bp(md) {
    //background: $blue;
  }
  @include bp(lg) {
    //background: $macaroni;
  }
}

//// TYPOGRAPHY
//#about {
//  a {
//    color: #fff;
//    &:visited {
//      color: #fff;
//    }
//    &:hover,
//    &:focus {
//      color: #11ABB0;
//    }
//  }
//  h2 {
//    font: 22px/30px 'opensans-bold', sans-serif;
//    color: #fff;
//    margin-bottom: 12px;
//  }
//  p {
//    line-height: 30px;
//    color: #7A7A7A;
//  }
//  i {
//    margin-right: 15px;
//    font-size: 20px;
//  }
//}
//
//// CONTAINERS
//#about {
//  background: #2B2B2B;
//  padding-top: 96px;
//  padding-bottom: 66px;
//  overflow: hidden;
//
//  // Grey Button
//  .button {
//    margin-top: 6px;
//    background: #444;
//    &:hover {
//      background: #fff;
//      color: #2B2B2B;
//    }
//  }
//
//  // Content Container
//  .main-col {
//    padding-right: 5%;
//  }
//}
//
//.contact-details {
//  width: 41.66667%;
//}
//
//// Profile Image
//.profile-image {
//  display: flex;
//  position: relative;
//  justify-content: center;
//  align-items: center;
//  height: 200px;
//  &__frame {
//    width: 100%;
//    position: absolute;
//  }
//  &__background {
//    width: 121px;
//    margin-top: -10px;
//  }
//}
