#contact {
  height: 720px;
  position: relative;
  justify-content: center;
  overflow: hidden;
  padding-bottom: 102px;
  padding-top: 96px;
  color: $white;
  .row {
    justify-content: center;
  }
}
