#resume {
  background: $gunmetal;
  background: linear-gradient(
    180deg,
    rgba($black,1) 0%,
    rgba($gunmetal,1) 100%
  );

  padding: 96px 0;
  h2, h3 {
    text-shadow: none;
  }
  h2 {
    color: $macaroni;
    &:after {
      content: '';
      display: block;
      width: 50px;
      height: 2px;
      background-color: $cambridge;
      margin-top: 1rem;
    }
  }

  section.achievements {
    ul {
      list-style: disc;
      padding-left: 16px;
      margin-bottom: 2rem;
    }
  }

  .content {
    color: $white;
    &__header {
      margin-bottom: 1rem;
      display: flex;
      align-items: center;
      background: transparent;
      flex-direction: row-reverse;
      justify-content: space-between;
      position: relative;
      @include bp(md) {
        flex-direction: row;
        justify-content: flex-start;
      }
    }


    ul.description {
      padding: 1rem;
      border-radius: 5px;
      background: $gunmetal;
      li {
        margin-bottom: 1rem;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    section.skills {
      //margin: 24px 0;
    }
    &__logo {
      z-index: 1;
      width: 75px;
      height: 75px;
      border-radius: 50%;
    }
    &__headline {
      display: flex;
      flex-direction: column-reverse;
      position: absolute;
      left: 0;
      width: 90%;
      @include bp(md) {
        position: unset;
        flex-direction: column;
        margin-left: 1rem;
      }
      p {
        color: $white;
        background: linear-gradient(
          90deg,
          rgba($blue,1) 50%,
          rgba($blue,0) 100%
        );
        text-shadow: $text-shadow;
        height: 24px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 12px;
        line-height: inherit;

        padding-top: 4px;
        padding-left: 8px;
        margin-bottom: 0;
        text-transform: uppercase;
        @include bp(md) {
          background: transparent;
          padding-left: 0;
        }
      }
      h3 {
        color: $orange;
        font-weight: bold;
        margin-bottom: 0;
        font-size: 20px;
        line-height: 30px;
        padding-right: 25%;
      }
    }

    .item {
      margin: 24px 0 0;
      &:first-of-type {
        margin-top: 0;
      }
    }
    .body {
      p {
        font-size: 14px;
        font-weight: normal;
        margin: 0;
        &.lead {
          font-size: 28px;
          font-family: $font-secondary;
          line-height: 22px;
          margin-bottom: 1rem;
          &:after {
            content: '';
            display: block;
            width: 100%;
            height: 1px;
            margin: 1rem 0;
            background: $cambridge;
            background: linear-gradient(
              90deg,
              rgba($gunmetal,1) 0%,
              rgba($cambridge,1) 33%,
              rgba($white,0) 100%
            );
          }
        }
      }
    }
  }
}
