// TYPOGRAPHY
@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Josefin+Sans&display=swap');
$baseline: 8px;
$font-weight-lighter:         lighter !default;
$font-weight-light:           300 !default;
$font-weight-normal:          400 !default;
$font-weight-bold:            700 !default;
$font-weight-bolder:          bolder !default;

$font-size-base:              1rem !default; // Assumes the browser default, typically `16px`
$font-size-lg:                $font-size-base * 1.25 !default;
$font-size-sm:                $font-size-base * .875 !default;

$line-height-base:            1.5 !default;
$line-height-lg:              2 !default;
$line-height-sm:              1.25 !default;

$font-primary: 'Josefin Sans', sans-serif;
$font-secondary: 'Amatic SC', cursive;

h1 {
  font-family: $font-secondary;
}

p {
  font-family: $font-primary;
}

// COLORS
$white: #FBFCFB;
$black: #000000;
$cambridge: #A0B4B5;
$macaroni: #F8C083;
$red: #E4691B;
$blue: #2875A3;
$quartz: #564648;
$gunmetal: #2D253A;


$btn-font-family: $font-primary;
$btn-font-weight: $font-weight-normal;
$input-btn-font-size:         $font-size-base !default;
$btn-line-height:             $line-height-base !default;
$body-color: $white;
$btn-white-space:             null !default; // Set to `nowrap` to prevent text wrapping
$enable-pointer-cursor-for-buttons:           true !default;
$border-width:                1px !default;
$border-color:                $cambridge !default;
$input-btn-border-width:      $border-width !default;
$btn-border-width:      $border-width !default;
$border-width:                1px !default;

$border-radius:               .25rem !default;
$border-radius-lg:            .3rem !default;
$border-radius-sm:            .2rem !default;

$btn-border-radius:           $border-radius !default;
$btn-border-radius-lg:        $border-radius-lg !default;
$btn-border-radius-sm:        $border-radius-sm !default;
$input-btn-focus-width:       .2rem !default;
$component-active-color:      $white !default;
$component-active-bg:         $blue !default;
$input-btn-focus-color:       rgba($component-active-bg, .25) !default;

$rounded-pill:                50rem !default;

$box-shadow-sm:               0 .125rem .25rem rgba($black, .075) !default;
$box-shadow:                  0 .5rem 1rem rgba($black, .15) !default;
$box-shadow-lg:               0 1rem 3rem rgba($black, .175) !default;
$box-shadow-inset:            inset 0 1px 2px rgba($black, .075) !default;
$btn-padding-y:         .375rem !default;
$btn-padding-x:         .75rem !default;
$btn-font-size:               $input-btn-font-size !default;
$btn-transition:              color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out !default;
$input-btn-focus-box-shadow:  0 0 0 $input-btn-focus-width $input-btn-focus-color !default;
$btn-focus-box-shadow:        $input-btn-focus-box-shadow !default;

$enable-caret:                                true !default;
$enable-rounded:                              true !default;
$enable-shadows:                              false !default;
$enable-gradients:                            false !default;
$enable-transitions:                          true !default;
$enable-prefers-reduced-motion-media-query:   true !default;
$enable-hover-media-query:                    false !default; // Deprecated, no longer affects any compiled CSS
$enable-grid-classes:                         true !default;
$enable-pointer-cursor-for-buttons:           true !default;
$enable-print-styles:                         true !default;
$enable-responsive-font-sizes:                false !default;
$enable-validation-icons:                     true !default;
$enable-deprecation-messages:                 true !default;
$transition-base:             all .2s ease-in-out !default;
$transition-fade:             opacity .15s linear !default;
$btn-disabled-opacity:        .65 !default;
$btn-active-box-shadow:       inset 0 3px 5px rgba($black, .125) !default;

