/* ---------------------------------------------------------------------
/*  Pull Quotes Markup
/*
    <aside class="pull-quote">
		<blockquote>
			<p></p>
		</blockquote>
	 </aside>
/*
/* --------------------------------------------------------------------- */
.pull-quote {
  position: relative;
  padding: 18px 30px 18px 0px;
}
.pull-quote:before,
.pull-quote:after {
  height: 1em;
  opacity: 0.45;
  position: absolute;
  font-size: 80px;
  //font-family: Arial, Sans-Serif;
}
.pull-quote:before {
  content: "\201C";
  top:  33px;
  left: 0;
}
.pull-quote:after {
  content: '\201D';
  bottom: -33px;
  right: 0;
}
.pull-quote blockquote {
  margin: 0;
}
.pull-quote blockquote:before {
  content: none;
}

/* Abbreviations */
abbr {
  //font-family: 'opensans-bold', sans-serif;
  font-variant: small-caps;
  text-transform: lowercase;
  letter-spacing: .5px;
  color: gray;
}
abbr:hover { cursor: help; }

/* drop cap */
.drop-cap:first-letter {
  float: left;
  margin: 0;
  padding: 14px 6px 0 0;
  font-size: 84px;
  //font-family: /* Copperplate */ 'opensans-bold', sans-serif;
  line-height: 60px;
  text-indent: 0;
  background: transparent;
  color: inherit;
}

hr { border: solid #E3E3E3; border-width: 1px 0 0; clear: both; margin: 11px 0 30px; height: 0; }
