#resume {
  background: #fff;
  padding-top: 90px;
  padding-bottom: 72px;
  overflow: hidden;
  p {
    line-height: 18px;
    margin-bottom: 0;
  }
  h3 {
    font: 25px/30px 'opensans-bold', sans-serif;
    margin-bottom: 0;
  }
  .info {
    font: 16px/24px 'librebaskerville-italic', serif;
    color: #6E7881;
    margin: 8px 0;
    font-weight: bold;
    span {
      margin-right: 5px;
      margin-left: 5px;
    }
  }
  .date {
    font-style: italic;
    font: 14px;
    line-height: 24px;
    margin-top: 6px;
  }
}

#resume a, #resume a:visited  { color: #11ABB0; }
#resume a:hover, #resume a:focus { color: #313131; }

#resume h1 {
  font: 18px/24px 'opensans-bold', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}
#resume h1 span {
  border-bottom: 3px solid #11ABB0;
  padding-bottom: 6px;
}


//#resume .header-col { padding-top: 9px; }
#resume .main-col { padding-right: 10%; }

.freelance, .work {
  margin-bottom: 48px;
  padding-bottom: 24px;
  border-bottom: 1px solid #E8E8E8;
}

#resume .achievements {
  list-style: disc;
  padding-left: 16px;
}

#resume .stack {
  display: flex;
  flex-wrap: wrap;
  .specialization {
    width: 25%;
  }
}
