.container {
  width: 90%;
  @include bp(sm) {
    width: 75%;
  }
  @include bp(md) {
    width: 50rem;
  }
  @include bp(lg) {
    width: 60rem;
  }
}

.hidden-xs {
  @media only screen and (max-width: 48em) {
    display: none;
  }
  @media only screen and (min-width: 48em) {
    display: block;
  }
}

.hidden-mobile {
  @media only screen and (max-width: 62em) {
    display: none;
  }
}
