@for $i from 0 through 10 {
  .m-#{$i} {
    margin:$baseline*$i (10px * $i) !important;
  }

  .my-#{$i} {
    margin-top:$baseline*$i !important;
    margin-bottom:$baseline*$i !important;
  }

  .mx-#{$i} {
    margin:0 (10px * $i) !important;
  }

  .mt-#{$i} {
    margin-top:$baseline*$i !important;
  }

  .mb-#{$i} {
    margin-bottom:$baseline*$i !important;
  }

  .mr-#{$i} {
    margin-right:(10px * $i) !important;
  }

  .ml-#{$i} {
    margin-left:(10px * $i) !important;
  }
}
